.ul-list-adverts{

    list-style-type: none;
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-left: auto;
    position: fixed;
    left: 15%;
    top: 12%;
  
}
.li-list-advert{

 align-items: center;
 justify-content: space-evenly;
 
 padding: 15px;
}
.advert-individual-items{
    justify-content: space-evenly;
    padding: 15px;
    z-index: 3;
    width: 300px;
    height: 100px;
    border: solid;
    transition: .3s opacity ease-in-out ;
    padding-bottom: 0;
    border-color: transparent;
    border-width: 0 0 1px;
    background-color: transparent;

}
.advert-individual-items:first-child{
    padding: 0;
}
.advert-individual-items:hover{
    background-color: honeydew;
}
.advert_on_peak_details{
    cursor: pointer;
    border-bottom: 1.4em;
    display: block;
    position: relative;
    z-index: 3;
    box-shadow: 0 0 200px 1px rgb(200 200 200 / 20%); 
    transition: .3s opacity ease-in-out ;
}
.advert-individual-items :after{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 30%,rgba(0,0,0,.2) 60%,rgba(0,0,0,.5) 100%);
}