
.center{
 position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);

}
.card {
    width: 1500PX; 
    height: 300px;
    background-color: rgb(247, 14, 14);
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin: 1.9rem;
  
}
.UserProfiles{

    
}
.tablesProfile{
    width: 80%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
.tablesProfile td {
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 17px;
    color: #4E4E4E;
    font-size: 1.1em;
    line-height: 1.6em;
    margin-right: 25px;
    text-align:initial;
    vertical-align: top;
}
.tablesProfile td:nth-child(2) {
    text-align: right;
  }
  .button{
      padding: 10px;
      display: inline-block;
      outline: 0;
      border: 0;
      margin: -1px;
      border-radius: 2px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #F5F5F5;
      background:#d6b8ba
      
  }
  .button :hover{
      background: #BA7E7E;
      transition: all .4s ease-in-out;
  }
  